version: "3.8"
services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: strapi_db
      POSTGRES_USER: strapi_user
      POSTGRES_PASSWORD: strapi_pass
    ports:
      - "5432:5432"
    volumes:
      - ./_postgres_data:/var/lib/postgresql/data
